table.paging {
	width: 100%;
	border-top: 2px solid #CCC !important;
	margin-top: 5px;
}

table.paging .title {
	float: left; 
	margin-right: 3px; 
	color: #666;
	padding-top: 1px;
	margin-top: 10px;
	font-size: 10px
}

table.paging a {
	text-decoration: none;
}

table.paging span {
	text-decoration: none;
	text-align: center;
	padding-top: 1px;
	margin-left: 3px;
	height: 20px;
	float: left;
	cursor: pointer;
	margin-top: 10px;
	font-size: 11px;
	
}

table.paging span.selected {
	font-size: 10px;
	color: white;
	width: 16px;
	height: 16px;
	background-image: url('/img/circle.gif');
	background-repeat: no-repeat;
	text-align: center;
	padding-top: 2px;
	padding-left: 1px;
	float: left;
	margin-top: 10px;
}