@CHARSET "UTF-8";


#billboard { height:394px; height:420px; margin:0 20px; clear:both; }
#billboard_left { background:url(/img/main_page/billboard/bg_left.png); height:394px; width:23px; float:left;  }
#billboard_right { background:url(/img/main_page/billboard/bg_right.png); height:394px; width:23px; float:right; }
#billboard_main { background:url(/img/main_page/billboard/bg_repeat.png); height:394px; width:824px; float:left; }
#billboard_ribbon { height:50px; width:250px; position:absolute; z-index:3; top:175px; left:4px; }
#billboard_ribbon.ribbon_1 { background:url(/img/main_page/txt/ribbon_1.png) no-repeat; }
#billboard_ribbon.ribbon_2 { background:url(/img/main_page/txt/ribbon_2.png) no-repeat; }
#billboard_ribbon.ribbon_3 { background:url(/img/main_page/txt/ribbon_3.png) no-repeat; }
#billboard_ribbon.ribbon_4 { background:url(/img/main_page/txt/ribbon_4.png) no-repeat; }


#billboard_first { float:left; width:380px; }
#billboard_second { float:left; width:440px; }

#billboard_text { height:305px; width:370px; float:left; padding:80px 0 0 0; }
#subtitle_1_ru { background:url(/img/main_page/billboard/subtitle_1_ru.png) no-repeat; text-indent:-1000px; height:16px; }
#subtitle_2_ru { background:url(/img/main_page/billboard/subtitle_2_ru.png) no-repeat; text-indent:-1000px; height:16px; }
#subtitle_3_ru { background:url(/img/main_page/billboard/subtitle_3_ru.png) no-repeat; text-indent:-1000px; height:19px; }

#billboard_text P { font-size:0.7em; line-height:1.2em; margin-bottom:20px; color:#ccc; width:370px; }
#billboard_jo { background:url(/img/main_page/billboard/joystic.png) no-repeat; height:180px; width:380px; position:absolute; z-index:2; top:431px; left:43px; }

#billboard_title { height:63px; width:400px; float:right; padding:18px 5px 0 0; }
#title { background:url(/img/main_page/billboard/title_ru.png) no-repeat right; text-indent:-2000px; height:26px; }
#billboard_title P { font-size:0.8em; line-height:1.2em; margin-top:4px; color:#ccc; text-align:right;  word-spacing:0.3em;}


#billboard_heroes { background:url(/img/main_page/billboard/heroes.jpg) no-repeat; height:195px; width:440px; float:right; }

#billboard_buttons { background:url(/img/main_page/billboard/bg_button.png) no-repeat; height:95px; width:440px; float:right; }
.billboard_button { width:198px; height:66px; border:none; cursor:pointer; margin:13px 0 0 13px; }
#BbDemoButton { background:url(/img/main_page/billboard/button_demo.png) no-repeat; }
#BbRegButton { background:url(/img/main_page/billboard/button_reg.png) no-repeat; margin-left:13px; }